fastapi
uvicorn[standard]
python-multipart
numpy
torch>=2.0.0
gtts
pyttsx3
openai-whisper
sounddevice
scipy
mediapipe==0.10.9
opencv-python
ffmpeg-python
sentencepiece
transformers==4.44.2
tokenizers==0.19.1
accelerate>=0.21.0

